<!DOCTYPE html>
<html>
  <head>
    <title>写真管理アプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if @current_user %>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
    <% end %>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message.html_safe %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
